version: "3.8"
services:
    mosquitto:
        image: eclipse-mosquitto:2.0
        container_name: mosquitto
        ports:
            - "1884:1883"
            # - "9001:9001"
        restart: always
        volumes:
            - ./mosquitto/config:/mosquitto/config
            - ./mosquitto/data:/mosquitto/data
        environment:
            - MQTT_USER=${MQTT_USER}
            - MQTT_PASS=${MQTT_PASS}
        networks:
            - mqtt_net

    db:
        image: postgres:17-alpine
        container_name: bike-db
        restart: always
        environment:
            - POSTGRES_USER=${DB_USER}
            - POSTGRES_PASSWORD=${DB_PASS}
            - POSTGRES_DB=biketracker
        volumes:
            - ./db_data:/var/lib/postgresql/data
        ports:
            - "5433:5432"
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d biketracker || exit 1"]
            interval: 10s
            timeout: 10s
            retries: 5
            start_period: 5s
        networks:
            - db_net

    worker:
        build: ./worker
        container_name: bike_worker
        volumes:
            - ./worker:/app
        restart: always
        depends_on:
            db:
                condition: service_healthy
        environment:
            - MQTT_BROKER=mosquitto
            - MQTT_USER=${MQTT_USER}
            - MQTT_PASS=${MQTT_PASS}            
            - DB_USER=${DB_USER}
            - DB_PASS=${DB_PASS}
            - DB_NAME=${DB_NAME}
            - DB_PORT=${DB_PORT}
            - DB_TABLE=${DB_TABLE}
            - DB_HOST=db
        networks:
            - db_net
            - mqtt_net

    react:
        build: ./react
        container_name: react
        ports:
            - "5173:5173"
        volumes:
            - "./react:/app"
            - "/app/node_modules"
        environment:
            - VITE_GCP_APIKEY=${GCP_APIKEY}
        depends_on:
            - worker
        restart: "no"
    
    api:
        build: ./express
        container_name: api
        environment:
            - DB_USER=${DB_USER}
            - DB_PASS=${DB_PASS}
            - DB_NAME=${DB_NAME}
            - DB_PORT=${DB_PORT}
            - DB_TABLE=${DB_TABLE}
            - DB_HOST=db
        networks:
            - internal_net
            - db_net
        depends_on:
            db:
                condition: service_healthy

    # api_tester:
    #     image: alpine/curl:latest
    #     container_name: api_tester
    #     networks:
    #         - internal_net
    #     stdin_open: true
    #     tty: true
    #     command: tail -f /dev/null
    #     depends_on:
    #         api:
    #             condition: service_started
                
networks:
    mqtt_net:
        driver: bridge
    db_net:
        driver: bridge
    internal_net:
        driver: bridge
        internal: true

# 後でinternalに設定しといて